

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: fixed;
    width: 100%;
    background-image: url("/media/images/79784822_p10.jpg");
    min-height: 100vh;
}

nav {
    position: fixed;
    width: 250px;
    height: 100%;
    /* background: #f1f1f1; */
    background: rgba(156, 193, 248, 0.41);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: ease-in-out 0.5s;
}

nav.hide {
    width: 0;
}


nav ul {
    width: 100%;
   margin: 18rem 0rem;
    list-style: none;
    overflow: hidden;
}

nav ul li a {
    width: 100%;
    color:cornflowerblue;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 15px;
    transition: linear 0.5s;
}

nav ul li a ion-icon {
    margin: 0 20px;
    color: cornflowerblue;
    font-size: 1.2em;
    transition: linear 0.2s;
}


nav ul li a:hover {
    background: cornflowerblue;
    color: white;
}

nav ul li a:hover ion-icon {
    color: white;
}

nav .toggle_menu {
    position: absolute;
    top: 20px;
    right: -46px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(204, 204, 204, 0.4);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: linear 0.2s;
}

nav .toggle_menu ion-icon {
    color: cornflowerblue;
    font-size: 1.5em;
    transition: linear 0.2s;
}
nav.toggle_menu:hover {
    background: cornflowerblue;
}
nav.toggle_menu:hover ion-icon {
    color: white;
}

nav .home {
    position: absolute;
    top: 20px;
    right: -46px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: linear 0.2s;
}

nav .home ion-icon {
    color: cornflowerblue;
    font-size: 1.5em;
    transition: linear 0.2s;
}
nav.home:hover {
    background: cornflowerblue;
}
nav.home:hover ion-icon {
    color: white;
}

.content{
    font-size: 3.3em;
    color: black;
    text-align: right;
    margin: 0.8rem 0rem 0rem -1rem;
    text-transform: uppercase;
}
.content2{
    position: absolute;
    top: 0;
    left: 250px;
    color: cornflowerblue;
    width: calc(200% - 250px);
    min-height: 300vh;
    /* justify-content: center;
    align-items: center; */
    margin-top: 350px;
    margin-left: 100px;
    padding: 20px;
   
  
    transition: ease-in-out 0.5s;
    font-size: 2em;
}

input[type=number]{
    border-color: cornflowerblue;
    width: 60%;
    padding: 10px 10px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}
button {
    height: 40px;
    width: 70%;
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 85px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: cornflowerblue;
  
  }
.content.expand {
   width: 100%;
   left: 0;
}

.content h2 {
    font-size: 4.5em;
    color: whitesmoke;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(101, 100, 100);
    -webkit-text-stroke-opacity: 0,5;
    text-align: center;
}
