{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tờ khai thông tin cho người dưới 14 tuổi</title>
    <link href="{% static 'assets/css/tokhaiduoi14.css' %}" rel="stylesheet">
  </head>
  <body>
    
    <div class="button_home">
        <a href="/" class="button" style="text-decoration: none">
                Trang chủ
        </a>     
    </div>
    <style>
      .a.button {
        color:#fff;
      }
    </style>

    <section class="container">
      <header>Tờ khai thông tin</header>
      <form method="POST" action="" class="form">
        {% csrf_token %}
        <div class="input-box">
          <label for="name">Họ tên</label>
          <input type="text" name="name" value="{{name}}" placeholder="Nhập đầy đủ họ tên" required />
        </div>

        <div class="input-box">
            <label for="birthday">Sinh ngày</label>
            <input type="date" name="birthday" value="{{birth}}" placeholder="Enter birth date" required />
        </div>

        <div class="column">
          <div class="input-box">
            <label for="sdt">Số điện thoại</label>
            <input type="text" name="sdt" value="{{phonenumber}}" placeholder="Nhập số điện thoại" required />
          </div>
        </div>
          
        
        <div class="gender-box">
          <h3>Gender</h3>
            {% if gender == "male" %}
            <div class="gender-option">
            <div class="gender">
              <input type="radio" name="gender" checked />
              <label for="gender">Nam</label> 
            </div>
            <div class="gender">
              <input type="radio" name="gender" />
              <label for="gender">Nữ</label>
            </div>
            </div>
            {% elif gender == "female" %}
            <div class="gender-option">
            <div class="gender">
                <input type="radio" name="gender" />
                <label for="gender">Nam</label> 
            </div>
            <div class="gender">
                <input type="radio" name="gender" checked/>
                <label for="gender">Nữ</label>
            </div>
            </div>
            {% else %}
            <div class="gender-option">
            <div class="gender">
                <input type="radio" name="gender" />
                <label for="gender">Nam</label> 
            </div>
            <div class="gender">
                <input type="radio" name="gender" />
                <label for="gender">Nữ</label>
            </div>
            </div>
            {% endif %}
        </div>

        <div class="input-box address">
          <label for="location">Địa chỉ</label>
          <input type="text" name="location" value="{{location}}" placeholder="Nhập số nhà, tên đường, tổ" required /> 
        </div>

        <div class="input-box address">
            <label for="guardian">Tên người bảo hộ</label>
            <input type="text" name="guardian" value="{{guardian}}" placeholder="Nhập đầy đủ tên người bảo hộ" required /> 
          </div>

        <div class="column">
            <div class="input-box">
              <label for="CCCD">Số CCCD của người bảo hộ</label>
              <input type="text" name="CCCD" value="{{cccd}}" placeholder="Nhập số căn cước công dân của người bảo hộ" required />
            </div>
          </div>

        <div>
        <button name="save" value="save">Submit</button>
        </div>
    
      </form>
    </section>
  </body>
</html>

