{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="{% static 'assets/css/tokhai.css' %}" rel="stylesheet">
    <title>Web hỗ trợ cấp lại hô chiếu cho người Việt Nam</title>
</head>

<body>
    <nav>
        <div class="toggle_menu">
            <ion-icon name="menu-outline"></ion-icon>
        </div>
        <ul>
            <li><a href="/">
                <ion-icon name="home"></ion-icon>
                Home
            </a></li>
            <li><a href="/tokhaitren14">
                    <ion-icon name="reader-outline"></ion-icon>
                    Tờ khai thông tin trên 14 tuổi

                </a></li>
            <li><a href="#">
                    <ion-icon name="reader-outline"></ion-icon>
                    Tờ khai thông tin dưới 14 tuổi
                </a></li>

        </ul>
    </nav>
  


        <br>
        <br>
        <br>
    <section class="container">
        <b> Nhập thông tin </h2>
            </br><br><br>
            <form method="POST" action="">
                {% csrf_token %}
                {{cccd}}
                <div class="input-box">
                <label for="name">Họ và tên: </label>
                <input type="text" name="name" value="{{name}}"><br><br>
                </div>
                <div class="input-box">
                <label for="birth">Ngày tháng năm sinh: </label>
                <input type="date" name="birth" value="{{birth}}"><br><br>
                </div>
                <div class="gender-box">
                <label for="gender"> Giới tính: </label>
                {% if gender == "male" %}
                <input type="radio" name="gender" value="male" checked>Nam
                <input type="radio" name="gender" value="female">Nữ <br><br>
                {% elif gender == "female" %}
                <input type="radio" name="gender" value="male">Nam
                <input type="radio" name="gender" value="female" checked>Nữ <br><br>
                {% else %}
                <input type="radio" name="gender" value="male">Nam
                <input type="radio" name="gender" value="female">Nữ <br><br>
                {% endif %}
                </div>  
                <div class="input-box">
                <label for="sdt">SĐT: </label>
                <input type="number" name="sdt" value="{{phonenumber}}"><br><br>
                </div>
                <div class="input-box">
                <label for="location">Địa chỉ liên lạc: </label>
                <input type="text" name="location" value="location"><br><br>
                
                <label for="guardian">Người bảo hộ: </label>
                <input type="text" name="guardian" value="{{guardian}}"><br><br>

                <label for="cccd">Căn cước công dân: </label>
                <input type="text" name="cccd" value="{{cccd}}"><br><br>
                    </div>
                <input style="font-size:large" type="submit" name='save' value="save">
                <!--{{text}}-->
            </form>


</body>
</section>

</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script>
    const nav = document.querySelector('nav');
    const toggle_menu = document.querySelector('.toggle_menu');
    const content = document.querySelector('content');

    toggle_menu.onclick = function () {
        nav.classList.toggle('hide');
        content.classList.toggle('expand');
    }

</script>

</html>